:root {
  --barw: calc(160px);
  --sideg: calc(var(--barw) + 5vw);
  --background: black;
}

* {
	opacity: 1;
	/*opacity: 0.95;*/
}

:is(h1, h2, h3, h4, h5, h6, p, a, body, html, head, title, style)
{
    opacity: initial;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--background);
}

.sidebar {
	/*background: blue;*/
    width: var(--barw);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.sidebarHeader {
  aspect-ratio: 1 / 1;
  position: relative;
  width: 100%;
  background: white;
}

.pageLogo {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  width: fit-content;
  position: absolute;
}

.sidebarList {
	flex-grow: 1;
    background: rgba(255,255,255,0.5);
    background-opacity: 0.5;
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: -webkit-linear-gradient(0deg,rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
}

.sidebarList ul {
    position: absolute;
    list-style-type: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] auto [line3] 1fr;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    /*padding: 10% 0;*/
    /*width: min-content;*/
    margin: auto;
    /*background: rgba(0,0,255,0.5);*/
    left: 0;
    right: 0;
}

.sidebarList li {
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.sidebarList div, .sidebarList li {
	position: relative;
}


.sidebarList div:before, .sidebarList li:before{
    content: "";
    opacity: 0;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity .5s linear;
}

/*Left nav bar*/
.F:hover:before {
	opacity: 0.5;
}

.F:has(+ .M:hover):before{
	opacity: 0.5;
}

.F:has(+ .M + .L:hover):before{
	opacity: 0.5;
}

/*right nav bar*/

.L:hover:before {
	opacity: 0.5;
}

.M:hover + .L:before {
	opacity: 0.5;
}

.F:hover + .M + .L:before {
	opacity: 0.5;
}

/*centre nav bar*/

.F:hover + .M:before {
	opacity: 0.5;
}

.M:hover:before {
	opacity: 0.5;
}

.M:has(+ .L:hover):before {
	opacity: 0.5;
}

.sidebarList *:has(> a):has(+ * + * + *):after {
	content: "";
	background: hsl(0, 0%, 80%);
    width: 100%;
    display: block;
    left:0;
    right: 0;
    bottom: 0;
    height: 5px;
    position: absolute;
}

.sidebarList .M a::after {
  content: attr(href);
}

.sidebarList a {
	position: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.M + .M {
	width: fit-content;
}

a {
 color: black;
 background-color: transparent;
 text-decoration: none;
}

.homepageBanner {
	width: 100%;
    position: relative;
	max-height: 100%;
	aspect-ratio: 2 / 1;
	/*padding: 0 var(--sideg);*/
	box-sizing: border-box;
	background-color: green;
}

.homepageBanner > *:last-child {
    width: 100%;
    height: 100%;
	background: var(--background);
    clip-path: url(#myClip);
    -webkit-clip-path: url(#myClip);
    /*clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);*/
}

.bannerLeft, .bannerRight{
	width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.bannerRight {
	float: right;
}

.bannerLeft > div, .bannerRight > div{
	width: 100%;
    height: 50%;
}

.bannerItem {
	position: relative;
    box-sizing: border-box;
}

.bannerLeft .bannerItem {
    padding: 0 0 0 var(--sideg);
}

.bannerRight .bannerItem {
    padding: 0 var(--sideg) 0 0 ;
}

.bannerItem:hover:before {
	opacity: 0.5;
}

.bannerItem:before {
	content: "";
    opacity: 0;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity .5s linear;
}

.bannerItem h1 {
	margin: auto 10%;
    top: 0;
    bottom: 0;
    position: absolute;
    height: fit-content;
    
}

.waves {
	transform: scaleX(0.2);
}

.waveRight {
	transform: scaleX(-1) translateX(0);
	transform: scaleX(-0.2) translateX(-200%);
    transform-origin: center
}

.wavesSVG {
	position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

main {
	position:relative;
}
